.button-container{

   
    width: 100%;
    display: flex;
    justify-content: right;

}

.add-btn
{
    
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.action-column{

    display: flex;
    gap: 10px;
}

.action-column>button{

      background-color: orange;
     color: white;
    border: none;
    text-align: center;
    text-decoration: none;

}

.clear-filter{

    background-color: green;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 8px;
    width: 100px;
}
